@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.menu, .drop-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: inline-block;
  background-color: #4285f4;
  position: relative;
}

.menu-item a {
  text-decoration: none;
  padding: 6px 10px;
  color: #fff;
  display: block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.drop-menu-item {
  width: 100%;
}

.drop-menu-item:hover {
  background-color: #eee;
}

.drop-menu-item a {
  color: #555;
}

.menu-item:hover .drop-menu {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underlineHover::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #7b6796; /* Set the underline color to orange */
  transform: scaleX(0); /* Initially, the underline will have no width (hidden) */
  transition: transform 0.2s ease; /* Add a transition for smooth effect */
}

.underlineHover:hover::after {
  transform: scaleX(1);
}
